.terms {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.terms h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.terms p + h2 {
  margin-top: 2.5rem;
}

.terms p {
  max-width: 75ch;
  margin-bottom: 1rem;
}