.color-gray00 {
  color: var(--color-gray00);
}

.color-gray01 {
  color: var(--color-gray01);
}

.color-gray02 {
  color: var(--color-gray02);
}

.color-gray03 {
  color: var(--color-gray03);
}

.color-gray04 {
  color: var(--color-gray04);
}

.color-gray05 {
  color: var(--color-gray05);
}

.color-gray06 {
  color: var(--color-gray06);
}

.color-gray07 {
  color: var(--color-gray07);
}

.color-gray08 {
  color: var(--color-gray08);
}

.color-gray09 {
  color: var(--color-gray09);
}

.color-gray10 {
  color: var(--color-gray10);
}

.color-gray11 {
  color: var(--color-gray11);
}

.color-gray12 {
  color: var(--color-gray12);
}

.color-primary01 {
  color: var(--color-primary01);
}

.color-primary02 {
  color: var(--color-primary02);
}

.color-primary03 {
  color: var(--color-primary03);
}

.color-primary04 {
  color: var(--color-primary04);
}

.color-primary05 {
  color: var(--color-primary05);
}