.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.title-bg {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background-color: var(--color-gray11);
}

.title p {
  margin-bottom: 0.25rem;
}

@media (max-width: 800px) {
  .title-bg {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px #00000019;
  transition: 200ms;
}

.button:hover {
  filter: brightness(0.9);
}

.button.primary {
  color: var(--color-primary05);
  background: linear-gradient(var(--color-primary01), var(--color-primary03));
}

.button.secondary {
  color: var(--color-gray00);
  background: linear-gradient(var(--color-gray07), var(--color-gray08));
}

@media (max-width: 600px) {
  .button {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}

.link {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--color-primary01);
  transition: 200ms;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.25rem;
  background-color: currentColor;
}

.link:hover {
  color: var(--color-gray00);
}

@media (max-width: 600px) {
  .link {
    font-size: 1.125rem;
  }

  .link::after {
    height: 0.125rem;
  }
}